.header{
    font-size: 50px;
    text-align: center;
    font-width: 700;
	color: #000;
}

.cont{
    background-color: #343434;
}

.about {
	display: flex;
	justify-content: space-between;
    text-align: center;
}

.about__item{
	width: 50%;
	text-align: center;
	margin: 60px auto 60px
}

about__img{
    text-align: center;
}

.logo{
    font-size: 50px;
    text-align: center;
    font-width: 700;
	color: #000;
	margin: 80px auto 80px;
}
