<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static/second_screen.css">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<section class="section_2">
    <div class="container">

        <div>
            <h3 class="section__suptitle">
                What we do
            </h3>
            <h2 class="section__title">
                About us
            </h2>
            <div class="section__text">
                <p>
                    In our website you can convert currencies, check course
                    and watch graphs of any currencies for last months, years etc.
                </p>
            </div>
        </div>
        <div class="about">
            <div class="about__item">
                <div class="about__img">
                    <img src="static/img/aa.jpg">
                </div>
            </div>
        </div>

    </div>
</section>
</body>
</html>