<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static/css/specification.css">
<link rel="stylesheet" href="static/css/dol_graphs.css">
<head>
    <meta charset="UTF-8">
    <title>Dol graphs</title>
</head>
<body>
<div class="cont" style="background-color: #343434;">
    <h1 class="header">
        Dollar
    </h1>
    <h1 class="logo" style="text-align: center;">
        For months
    </h1>
    <div class="about">
        <div class="about__item" style="margin: 120px auto 120px">
            <div class="about__img" style="text-align: center">
                <img src="static/img/dol/dol_month.png">
            </div>
        </div>
    </div>
    <h1 class="logo" style="text-align: center;">
        For years
    </h1>
    <div class="about">
        <div class="about__item" style="margin: 120px auto 120px">
            <div class="about__img" style="text-align: center">
                <img src="static/img/dol/dol.years.png">
            </div>
        </div>
    </div>
</div>
</body>
</html>