<!DOCTYPE html>
<link rel="stylesheet" href="static/css/specification.css">
<link rel="stylesheet" href="static/css/eur_graphs.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eur graphs</title>
</head>
<body>
<div class="cont" style="background-color: #343434;">
    <h1 class="header">
        Dollar
    </h1>
    <h1 class="logo" style="text-align: center;">
        For 2010
    </h1>
    <div class="about">
        <div class="about__item" style="margin: 20px auto 20px">
            <div class="about__img" style="text-align: center">
                <img src="static/img/eur/eur_2010.png">
            </div>
        </div>
    </div>
    <h1 class="logo" style="text-align: center;">
        For 2011
    </h1>
    <div class="about">
        <div class="about__item" style="margin: 20px auto 20px">
            <div class="about__img" style="text-align: center">
                <img src="static/img/eur/eur_2011.png">
            </div>
        </div>
    </div>
    <h1 class="logo" style="text-align: center;">
        For 2012
    </h1>
    <div class="about">
        <div class="about__item" style="margin: 20px auto 20px">
            <div class="about__img" style="text-align: center">
                <img src="static/img/eur/eur_2012.png">
            </div>
        </div>
    </div>
    <h1 class="logo" style="text-align: center;">
        For 2013
    </h1>
    <div class="about">
        <div class="about__item" style="margin: 20px auto 20px">
            <div class="about__img" style="text-align: center">
                <img src="static/img/eur/eur_2013.png">
            </div>
        </div>
    </div>
    <h1 class="logo" style="text-align: center;">
        For 2014
    </h1>
    <div class="about">
        <div class="about__item" style="margin: 20px auto 20px">
            <div class="about__img" style="text-align: center">
                <img src="static/img/eur/eur_2014.png">
            </div>
        </div>
    </div>
    <h1 class="logo" style="text-align: center;">
        For 2015
    </h1>
    <div class="about">
        <div class="about__item" style="margin: 20px auto 20px">
            <div class="about__img" style="text-align: center">
                <img src="static/img/eur/eur_2015.png">
            </div>
        </div>
    </div>
    <h1 class="logo" style="text-align: center;">
        For 2016
    </h1>
    <div class="about">
        <div class="about__item" style="margin: 20px auto 20px">
            <div class="about__img" style="text-align: center">
                <img src="static/img/eur/eur_2016.png">
            </div>
        </div>
    </div>
    <h1 class="logo" style="text-align: center;">
        For 2017
    </h1>
    <div class="about">
        <div class="about__item" style="margin: 20px auto 20px">
            <div class="about__img" style="text-align: center">
                <img src="static/img/eur/eur_2017.png">
            </div>
        </div>
    </div>
    <h1 class="logo" style="text-align: center;">
        For 2018
    </h1>
    <div class="about">
        <div class="about__item" style="margin: 20px auto 20px">
            <div class="about__img" style="text-align: center">
                <img src="static/img/eur/eur_2018.png">
            </div>
        </div>
    </div>
    <h1 class="logo" style="text-align: center;">
        For 2019
    </h1>
    <div class="about">
        <div class="about__item" style="margin: 20px auto 20px">
            <div class="about__img" style="text-align: center">
                <img src="static/img/eur/eur_2019.png">
            </div>
        </div>
    </div>
</div>
</body>
</html>