<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static/css/fourth_screen.css">
<link rel="stylesheet" href="static/css/specification.css">
<head>
    <meta charset="UTF-8">
    <title>Graphs</title>
</head>
<body>
<section class="graphs"  style="background-image: url(static/img/fons/third_fon.jpg)">
    <div class="container" style="width: 100%;
                            max-width: 1200px;
                            margin: 0 auto;">
        <div class="header_logo_2" style="text-transform: uppercase;
                                            font-size: 70px;
                                            font-width: 700;
                                            color: #000;
                                            text-align: center;
                                            margin: 150px auto 100px;">
            graphs
        </div>
        <div class="about_3">
            <div class="about_item_3">
                <div class="about__img_3">
                    <img src="static/img/dl.png">
                </div>
            </div>
            <div class="about_item_3">
                <div class="about__img_3">
                    <img src="static/img/er.png">
                </div>
            </div>
            <div class="about_item_3">
                <div class="about__img_3">
                    <img src="static/img/rb.jpg">
                </div>
            </div>
        </div>
        <div class="currencies" style="margin: 120px auto 120px;">
            <nav class="nav_2" style="
                                        text-transform: uppercase;
                                        text-align: center;">
                <a class="nav__link_2" href="dol_graphs" style="font-size: 101px display: inline-block;
                    vertical-align: top;
                    margin: 0px 100px;
                    position: relative;

                    color: #A979EE;
                    text-decoration: none;

	                transition: color .2s linear;">DOl</a>
                <a class="nav__link_2" href="eur_graphs" style="font-size: 101px display: inline-block;
                    vertical-align: top;
                    margin: 0px 100px;
                    position: relative;

                    color: #A979EE;
                    text-decoration: none;

                    transition: color .2s linear;">EUR</a>
                <a class="nav__link_2" href="rub_graphs" style="font-size: 101px display: inline-block;
                    vertical-align: top;
                    margin: 0px 100px;
                    position: relative;

                    color: #A979EE;
                    text-decoration: none;

                    transition: color .2s linear;">RUB</a>
            </nav>
        </div>
        <div class="section__text" style="color: ##BBB9B9;
                    font-size: 45px;
                    text-align: center;">
            <p>
                You can click to "DOL, EUR, RUB" and see graphs
            </p>
        </div>
    </div>

</section>
</body>
</html>