<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static/css/specification.css">
<link rel="stylesheet" href="static/css/eur_graphs.css">
<head>
    <meta charset="UTF-8">
    <title>Rub graphs</title>
</head>
<body>
<div class="cont" style="background-color: #343434;">
    <h1 class="header">
        Ruble
    </h1>
    <div class="about">
        <div class="about__item" style="margin: 120px auto 120px">
            <div class="about__img">
                <img src="static/img/rub/rub.jpg">
            </div>
        </div>
    </div>
</div>
</body>
</html>