<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Kurale&display=swap&subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/first_screen.css">
<link rel="stylesheet" href="static/css/second_screen.css">
<link rel="stylesheet" href="static/css/third_screen.css">
<link rel="stylesheet" href="static/css/fourth_screen.css">
<link rel="stylesheet" href="static/css/specification.css">
<title>CURRENCY RATE</title>
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="header-logo">Course</div>
            <nav class="nav">
                <a class="nav__link" href="about">About us</a>
                <a class="nav__link" href="currency_rate">Currency Rate</a>
                <a class="nav__link" href="graphs">graphs</a>
                <a class="nav__link" href="converter">Converter</a>
            </nav>
        </div>
    </div>
</header>

<div class="intro" style="background-image: url(static/img/fons/01.jpg)">
    <div class="container">
        <div class="intro__inner">
            <h2 class="intro__suptitle">your assistant</h2>
            <h1 class="intro__title">CURRENCY RATE</h1>
        </div>
    </div>
</div>


<section class="section_2" style="background-image: url(static/img/fons/second_fon.jpg) ">
    <div class="container">

        <div>
            <h3 class="section__suptitle">What we do</h3>
            <h2 class="section__title">About us</h2>
            <div class="section__text">
                <p>
                    In our website you can convert currencies, check course
                    and watch graphs of any currencies for last months, years etc.
                </p>
            </div>
        </div>
        <div class="about">
            <div class="about__item">
                <div class="about__img">
                    <img src="static/img/fons/aa.jpg">
                </div>
            </div>
        </div>

    </div>
</section>

<section class="currency_rate" style="background-color: #343434">
    <div class="container">
        <div class="header_logo_2">
            currency rate
        </div>
        <div class="header__inner">
            <nav class="nav_2">
                <a class="nav__link_2" href="">BUY</a>
                <a class="nav__link_2" href="#">SELL</a>
                <a class="nav__link_2" href="#">RATE OF THE NAZBANK</a>
            </nav>
        </div>
        <div class="crr">
            <ul class="list-group">
                <li class="list-group-item">
                    DOL - {{dol_buy}} -------------- {{dol_sell}} ---------------------------- {{naz_dol}}
                </li>
                <li class="list-group-item">
                    EUR - {{eur_buy}} -------------- {{eur_sell}} ---------------------------- {{naz_eur}}
                </li>
                <li class="list-group-item">
                    RUB - {{rub_buy}} ------------------- {{rub_sell}} ------------------------------- {{naz_rub}}
                </li>
            </ul>
        </div>
        <nav class="nav" style="font-size: 25px; margin:70px auto 70px">
            <a class="nav__link" href="more_currencies">If you want more currencies click here</a>
        </nav>
    </div>
</section>

<section class="graphs" style="background-image: url(static/img/fons/third_fon.jpg) ">
    <div class="container">
        <div class="header_logo_2">
            graphs
        </div>
        <div class="about_3">
            <div class="about_item_3">
                <div class="about__img_3">
                    <img src="static/img/dl.png">
                </div>
            </div>
            <div class="about_item_3">
                <div class="about__img_3">
                    <img src="static/img/er.png">
                </div>
            </div>
            <div class="about_item_3">
                <div class="about__img_3">
                    <img src="static/img/rb.jpg">
                </div>
            </div>
        </div>
        <div class="currencies" style="margin: 120px auto 120px;">
            <nav class="nav_2">
                <a class="nav__link_2" href="dol_graphs" style="font-size: 101px">DOl</a>
                <a class="nav__link_2" href="eur_graphs" style="font-size: 101px">EUR</a>
                <a class="nav__link_2" href="rub_graphs" style="font-size: 101px">RUB</a>
            </nav>
        </div>
        <div class="section__text">
            <p>
                You can click to "DOL, EUR, RUB" and see graphs
            </p>
        </div>
    </div>

</section>


<section class="converter">
    <div class="container">
        <div class="header_logo_2">
            converter
        </div>
        <form class="login_form" method="post">
            <div style="margin 120px auto 120px">
                <label for="sel1">From:</label>
                <div style="margin 120px auto 120px">
                    <select class="form-control form-control-lg" id="sel1" name="sellist1">
                        <option>AUD</option>
                        <option>AZN</option>
                        <option>ALL</option>
                        <option>DZD</option>
                        <option>AOA</option>
                        <option>ARS</option>
                        <option>AMD</option>
                        <option>AWG</option>
                        <option>AFN</option>
                        <option>BSD</option>
                        <option>BDT</option>
                        <option>BBD</option>
                        <option>BHD</option>
                        <option>BZD</option>
                        <option>BYR</option>
                        <option>BGN</option>
                        <option>BOB</option>
                        <option>BWP</option>
                        <option>BRL</option>
                        <option>BND</option>
                        <option>BIF</option>
                        <option>BTN</option>
                        <option>BTN</option>
                        <option>VUV</option>
                        <option>HUF</option>
                        <option>VEF</option>
                        <option>XCD</option>
                        <option>VND</option>
                        <option>HTG</option>
                        <option>GYD</option>
                        <option>GMD</option>
                        <option>GHS</option>
                        <option>GTQ</option>
                        <option>GNF</option>
                        <option>GIP</option>
                        <option>HNL</option>
                        <option>HKD</option>
                        <option>GEL</option>
                        <option>ANG</option>
                        <option>DKK</option>
                        <option>DJF</option>
                        <option>AED</option>
                        <option>STD</option>
                        <option>KYD</option>
                        <option>SBD</option>
                        <option>USD</option>
                        <option>TTD</option>
                        <option>FJD</option>
                        <option>DOP</option>
                        <option>EUR</option>
                        <option>EGP</option>
                        <option>ZMK</option>
                        <option>ILS</option>
                        <option>INR</option>
                        <option>IDR</option>
                        <option>JOD</option>
                        <option>IQD</option>
                        <option>IRR</option>
                        <option>ISK</option>
                        <option>YER</option>
                        <option>KZT</option>
                        <option>KHR</option>
                        <option>CAD</option>
                        <option>QAR</option>
                        <option>KES</option>
                        <option>PGK</option>
                        <option>KGS</option>
                        <option>CNY</option>
                        <option>COP</option>
                        <option>KMF</option>
                        <option>BAM</option>
                        <option>CDF</option>
                        <option>CRC</option>
                        <option>CUP</option>
                        <option>KWD</option>
                        <option>MMK</option>
                        <option>LAK</option>
                        <option>LVL</option>
                        <option>LRD</option>
                        <option>LBP</option>
                        <option>LYD</option>
                        <option>LTL</option>
                        <option>LSL</option>
                        <option>MUR</option>
                        <option>MRO</option>
                        <option>MKD</option>
                        <option>MWK</option>
                        <option>MGA</option>
                        <option>MYR</option>
                        <option>MVR</option>
                        <option>MAD</option>
                        <option>MXN</option>
                        <option>MZN</option>
                        <option>MDL</option>
                        <option>MNT</option>
                        <option>NAD</option>
                        <option>NPR</option>
                        <option>NGN</option>
                        <option>NIO</option>
                        <option>NZD</option>
                        <option>NOK</option>
                        <option>OMR</option>
                        <option>PKR</option>
                        <option>PAB</option>
                        <option>MOP</option>
                        <option>PYG</option>
                        <option>PEN</option>
                        <option>PLN</option>
                        <option>PRB</option>
                        <option>RUB</option>
                        <option>RWF</option>
                        <option>RON</option>
                        <option>SVC</option>
                        <option>WST</option>
                        <option>SAR</option>
                        <option>SZL</option>
                        <option>KPW</option>
                        <option>SCR</option>
                        <option>RSD</option>
                        <option>SGD</option>
                        <option>SYP</option>
                        <option>SOS</option>
                        <option>SDG</option>
                        <option>SRD</option>
                        <option>SLL</option>
                        <option>TJS</option>
                        <option>THB</option>
                        <option>TWD</option>
                        <option>TZS</option>
                        <option>TOP</option>
                        <option>TND</option>
                        <option>TRY</option>
                        <option>TMT</option>
                        <option>UGX</option>
                        <option>UZS</option>
                        <option>UAH</option>
                        <option>UYU</option>
                        <option>FOK</option>
                        <option>PHP</option>
                        <option>XAF</option>
                        <option>XOF</option>
                        <option>XPF</option>
                        <option>GGP</option>
                        <option>JEP</option>
                        <option>GBP</option>
                        <option>FKP</option>
                        <option>HRK</option>
                        <option>CZK</option>
                        <option>CLP</option>
                        <option>SEK</option>
                        <option>CHF</option>
                        <option>LKR</option>
                        <option>CVE</option>
                        <option>ERN</option>
                        <option>EEK</option>
                        <option>ETB</option>
                        <option>ZAR</option>
                        <option>KRW</option>
                        <option>JMD</option>
                        <option>JPY</option>
                    </select>
                </div>
            </div>
            <div style="margin 120px auto 120px">
                <label for="sel1">To:</label>
                <div style="margin 120px auto 120px">
                    <select class="form-control form-control-lg" id="sel2" name="sellist2">
                        <option>AUD</option>
                        <option>AZN</option>
                        <option>ALL</option>
                        <option>DZD</option>
                        <option>AOA</option>
                        <option>ARS</option>
                        <option>AMD</option>
                        <option>AWG</option>
                        <option>AFN</option>
                        <option>BSD</option>
                        <option>BDT</option>
                        <option>BBD</option>
                        <option>BHD</option>
                        <option>BZD</option>
                        <option>BYR</option>
                        <option>BGN</option>
                        <option>BOB</option>
                        <option>BWP</option>
                        <option>BRL</option>
                        <option>BND</option>
                        <option>BIF</option>
                        <option>BTN</option>
                        <option>BTN</option>
                        <option>VUV</option>
                        <option>HUF</option>
                        <option>VEF</option>
                        <option>XCD</option>
                        <option>VND</option>
                        <option>HTG</option>
                        <option>GYD</option>
                        <option>GMD</option>
                        <option>GHS</option>
                        <option>GTQ</option>
                        <option>GNF</option>
                        <option>GIP</option>
                        <option>HNL</option>
                        <option>HKD</option>
                        <option>GEL</option>
                        <option>ANG</option>
                        <option>DKK</option>
                        <option>DJF</option>
                        <option>AED</option>
                        <option>STD</option>
                        <option>KYD</option>
                        <option>SBD</option>
                        <option>USD</option>
                        <option>TTD</option>
                        <option>FJD</option>
                        <option>DOP</option>
                        <option>EUR</option>
                        <option>EGP</option>
                        <option>ZMK</option>
                        <option>ILS</option>
                        <option>INR</option>
                        <option>IDR</option>
                        <option>JOD</option>
                        <option>IQD</option>
                        <option>IRR</option>
                        <option>ISK</option>
                        <option>YER</option>
                        <option>KZT</option>
                        <option>KHR</option>
                        <option>CAD</option>
                        <option>QAR</option>
                        <option>KES</option>
                        <option>PGK</option>
                        <option>KGS</option>
                        <option>CNY</option>
                        <option>COP</option>
                        <option>KMF</option>
                        <option>BAM</option>
                        <option>CDF</option>
                        <option>CRC</option>
                        <option>CUP</option>
                        <option>KWD</option>
                        <option>MMK</option>
                        <option>LAK</option>
                        <option>LVL</option>
                        <option>LRD</option>
                        <option>LBP</option>
                        <option>LYD</option>
                        <option>LTL</option>
                        <option>LSL</option>
                        <option>MUR</option>
                        <option>MRO</option>
                        <option>MKD</option>
                        <option>MWK</option>
                        <option>MGA</option>
                        <option>MYR</option>
                        <option>MVR</option>
                        <option>MAD</option>
                        <option>MXN</option>
                        <option>MZN</option>
                        <option>MDL</option>
                        <option>MNT</option>
                        <option>NAD</option>
                        <option>NPR</option>
                        <option>NGN</option>
                        <option>NIO</option>
                        <option>NZD</option>
                        <option>NOK</option>
                        <option>OMR</option>
                        <option>PKR</option>
                        <option>PAB</option>
                        <option>MOP</option>
                        <option>PYG</option>
                        <option>PEN</option>
                        <option>PLN</option>
                        <option>PRB</option>
                        <option>RUB</option>
                        <option>RWF</option>
                        <option>RON</option>
                        <option>SVC</option>
                        <option>WST</option>
                        <option>SAR</option>
                        <option>SZL</option>
                        <option>KPW</option>
                        <option>SCR</option>
                        <option>RSD</option>
                        <option>SGD</option>
                        <option>SYP</option>
                        <option>SOS</option>
                        <option>SDG</option>
                        <option>SRD</option>
                        <option>SLL</option>
                        <option>TJS</option>
                        <option>THB</option>
                        <option>TWD</option>
                        <option>TZS</option>
                        <option>TOP</option>
                        <option>TND</option>
                        <option>TRY</option>
                        <option>TMT</option>
                        <option>UGX</option>
                        <option>UZS</option>
                        <option>UAH</option>
                        <option>UYU</option>
                        <option>FOK</option>
                        <option>PHP</option>
                        <option>XAF</option>
                        <option>XOF</option>
                        <option>XPF</option>
                        <option>GGP</option>
                        <option>JEP</option>
                        <option>GBP</option>
                        <option>FKP</option>
                        <option>HRK</option>
                        <option>CZK</option>
                        <option>CLP</option>
                        <option>SEK</option>
                        <option>CHF</option>
                        <option>LKR</option>
                        <option>CVE</option>
                        <option>ERN</option>
                        <option>EEK</option>
                        <option>ETB</option>
                        <option>ZAR</option>
                        <option>KRW</option>
                        <option>JMD</option>
                        <option>JPY</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">Number</label>
                <div class="col-10">
                    <input class="form-control" type="number" value="42" id="example-number-input" name="amount">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</section>

</body>
</html>